# Default ignored files
/shelf/
/workspace.xml
/sonarlint/issuestore/index.pb
/sonarlint/securityhotspotstore/index.pb
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/.name
/ExpressionParser.iml
